/* styles that are used on 100% of the pages */


@font-face{
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: #777;
    background-color: #f1f5f8;
}

/* header */
.header{
    padding: 2rem  2dvw;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.headerItem{
    display: flex;
    width: 33.3%;
}

.headerItem--last{
    justify-content: flex-end;
}

.headerItem_list{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* search */
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    padding-left: 2rem;
    border-left: 1px solid #ccc;
}

.search_icon{
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    fill: #aaa;
}

.search_control{
    padding: .5rem 1rem;
    border: none;
    font-size: 1.4rem;
    background-color: transparent;
}


/* logo */
.logo{
    text-decoration: none;
    color: #222;
    font-size: 2rem;
    width: 33.3%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.logo span{
    color: #bbb
}


/* my account */
.myAccount_avatar{
    border-radius: 50%;
}

/* menu navigation */
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: 0;
    padding: 0 .5rem 0 2rem;
    margin-left: 2rem;
    border-left: 1px solid #ccc;
    color: #aaa
}

.menu_icon{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    fill: #aaa;
}

/* browse by */
.browseBy{
    position: relative;
}

.browseBy:hover .browseBy_nav{
    display: flex;
}

.browseByHeading{
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    font-size: 1.4rem;
    fill: #aaa;
}

.browseByHeading:hover{
    cursor: pointer;
    background-color: #eee;
}

.browseByHeading:hover .browseBy_icon{
    transform: rotate(-90deg);
}

.browseBy_icon{
    transform: rotate(90deg);
    width: 20px;
    height: 20px;
    margin-left: .5rem;
    fill: #aaa;
}

.browseBy_nav{
    flex-direction: column;
    width: 175px;
    position: absolute;
    left: 5px;
    border-radius: 5px;
    border-color: 1px solid #ddd;
    box-shadow: 4px 4px 11px 0 rgba(0,0,0,.2);
    background-color: #fff;
    display: none;
}

.browseBy_navList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.browseBy_navItem{
    border-bottom: 1px solid #eee;
}

.browseBy_navItem:hover{
    background-color: #eee;
}

.browseBy_navItem:last-child{
    border-bottom: none;
}

.browseBy_navLink{
    padding: .5rem 2rem;
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    color: #777;
}

.main{
    padding: 0 2dvw;
    min-height: 80dvh;
}

.footer{
    padding: 4rem 2dvw;
    background-color: #ccc;
    min-height: 10dvh;
}




